@font-face {
    font-family: "Montserrat";
    src: url('../fonts/woff/Poppins-Regular.woff') format('woff'),
        url('../fonts/woff/Poppins-Regular.woff2') format('woff2');
    font-weight: 300;
}

:root {
    --common_value: 16px;
    --margin_top: 25px;
    --base_font_size: 14px;
    --link_font_size: 18px;
}

body {
    font-family: "Montserrat";
    margin: 0;
    padding: var(--common_value);
    background-color: #181719;
    color: #ffffff;
    font-size: var(--base_font_size);
    position: relative;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: var(--common_value);
}

.masthead__header {
    margin: 0;
    margin-block-start: -8px;
    border: 1px solid white;
    padding: calc(var(--common_value) / 2);
    padding-block-end: 7;
    text-transform: uppercase;
    font-size: var(--base_font_size);
}

.label_menu {
    color: transparent;
    margin-inline-end: -64px;
}
  
.label_menu::before {
content: url('../icon/menu.svg');
margin-inline-end: calc(var(--common_value) * 2);

}

.masthead__navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -400px;
    width: 380px;
    z-index: 1;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"]:checked ~ .masthead__navigation {
    position: absolute;
    top: calc(var(--common_value) / 2);
    bottom: 0;
    left: 0;
    width: 350px;
    z-index: 1;
    background-color: black;
    transform: translateX(0);
}

.masthead__navigation_container {
    margin: 0;
    padding: 0;
}

.masthead__list_item {
    list-style: none;
    margin-block-start: var(--common_value);
    text-align: center;
}

.masthead__link {
    margin: 0;
    padding: 0;
    font-size: var(--link_font_size);
}

.masthead__link--home {
    font-weight: 700;
}

.interior__header {
    margin: 0;
    margin-block-start: 38px;
    font-size: calc(var(--link_font_size) * 2);
}

.interior__content {
    margin-block-start: var(--margin_top);
    text-align: left;
}

.interior__more_information {
    margin: 0;
    margin-block-start: var(--margin_top);
}

.interior__read_more--link {
    font-weight: 600;
}

.interior__image_container {
    margin-block-start: calc(var(--common_value) * 2);
}

.interior__image {
    position: relative;
}

.information {
    padding: var(--common_value);
    background-color: #181719;
    box-shadow: 2px 2px 10px #000000;
    width: 250px;
    position: absolute;
    top: 60%;
    left: 16%;
}

.information__profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.information__container {
    margin-inline-start: 62px;
    margin-block-start: -56px;
}

.information__date {
    font-size: var(--link_font_size);
}

.footer__copyright {
    border-top: 1px solid #A9A9A9;
    color: #A9A9A9;
    padding-block-start: var(--common_value);
    text-align: center;
    margin-block-start: 70%;
}

@media (min-width: 600px) {
    body {
        max-width: 1114px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .masthead__header {
        margin-block-start: 26px;
    }

    .label_menu {
        display: none;
    }

    .masthead__navigation_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-inline-start: 67vw;
        margin-block-start: 46px;
    }

    .masthead__list_item {
        margin-inline-start: 86px;
    }

    .interior__header {
        margin-block-start: 171px;
    }

    .interior__description {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 87px;
        column-gap: 87px;
    }

    .interior__content {
        font-size: 24px;
        /* font-weight: lighter; */
    }

    .interior__description--container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .interior__image_container {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        margin-block-start: -40px;
    }

    .information {
        top: 43.5%;
        left: 60%;
        width: 390px;
    }

    .footer__copyright {
        border-top: none;
    }


}